<div>
	<div layout="row">
		<div flex="15"></div>
		<div flex="30">
			<div layout="column">
				<md-input-container flex="5" layout="row">
					<div flex>
						<input type="text" ng-model="$ctrl.username">
					</div>
					<div flex=>
						<md-button class="md-icon-button md-primary" ng-click="$ctrl.addChat($ctrl.username)">
							<ng-md-icon icon="add" style="fill: blue"></ng-md-icon>
						</md-button>
					</div>
				</md-input-container>
				<div flex="85">
					<div ng-repeat="user in $ctrl.users" ng-click="$ctrl.selectChat(user)">
						<div>{{user}}</div>
						<div>{{$ctrl.users[user]}}</div>
					</div>
				</div>
			</div>
		</div>
		<div flex="50">
			<chat address="$ctrl.address"></chat>
		</div>
		<div flex="15"></div>
	</div>
</div>